/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans";
  box-sizing: border-box;
}
body{
  width: 1920px;
}
.text-primary {
  color: #ff42a5;
}
.section-title {
  color: #0b0223;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
}
.section-description {
  color: #534c64;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-top: 20px;
}
.gradient-text {
  background-image: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  color: transparent;
  -webkit-background-clip: text;
}
/* Header Related Styles */
/* Nav Related Styles */
nav {
  padding-top: 38px;
  padding-right: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 2rem;
  color: #3c354f;
}
nav a {
  text-decoration: none;
}
.nav-logo {
  width: 86.041px;
  height: 40px;
}
.nav-logo-img {
  padding-left: 120px;
}
.nav-title {
  font-size: 2.813rem;
  font-weight: 700;
  margin-right: 58rem;
}
.nav-follow {
  display: flex;
  align-items: center;
  height: 56px;
  width: 262px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}
.nav-follow-text {
  padding: 17px 25px 17px 24px;
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
}
ul img {
  padding: 0 15px 0 0px;
}

/* Banner Section Design */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(../images/Group-14.png);
  background-size: 50%;
  background-repeat: no-repeat;
  padding: 0 70px 0 100px;
}
.banner-content h5 i {
  color: #ff42a5;
  width: 2rem;
}
.banner img {
  width: 50%;
}
.banner-heading-1 {
  color: #0b0223;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.banner-heading-2 {
  text-align: center;
  font-size: 95px;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  padding: 15px 0px;
}
.banner-text {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  text-transform: lowercase;
  padding: 10px 0px;
}
.banner-btn-1 {
  padding: 21px 40px;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  color: #fff;
  border: none;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-btn-2 {
  padding: 21px 40px;
  border-radius: 48px;
  background: #4ec5f7;
  color: #fff;
  border: none;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

/* Main Section Start */
/* online game sectcion */
.online-game {
  margin-top: 176px;
}
.online-game-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  border-radius: 16px;
  padding: 0 120px;
  margin-top: 40px;
}
.online-game-card {
  width: 100%;
}
.online-game-img img {
  width: 100%;
  height: auto;
}
.online-game-container p {
  text-align: left;
  font-size: 1.2rem;
  line-height: auto;
}
/* Play Instantly Section */
.play-inst-section {
}
.Play-Instantly-Container {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px 0 465px;
  position: relative;
}
.Play-Instantly-Container img {
  padding-left: 20rem;
}
.play-inst-img {
  position: absolute;
  top: 58%;
  right: 27%;
}
.Play-Instantly-Content h1 {
  text-align: right;
}
.Play-Instantly-Content p {
  text-align: right;
}


/* Games type section style */
.games-type {
  margin-top: 180px;
}
.games-type-container {
  display: flex;
  justify-content: center;
  gap:2rem;
  align-items: center;
  flex-wrap: wrap;
  padding: 3rem 14.5rem;
}

.games-type-card {
  display: flex;
  align-items: center;
  background: #fff;
  width: 243px;
  height: 60px;
  flex-shrink: 0;
  border: 1px solid transparent;
  padding: 20px;
  margin-bottom: 2rem;
}
.games-type-card:hover{
  border: 2px solid #ff42a5;
  border-radius: 50px;
  padding: 40px 10px;
}
.games-type-card p {
  color: #0b0223;
  font-size: 1rem;
  font-weight: 400;
  padding-left: 0.75rem;
}
footer {
  background: #0b0223;
  width: auto;
  height: fit-content;
  margin-top: 80px;
}
.footer-conatainer h3 {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  line-height: normal;
  color: #fff;
  padding-left: 20px;
}
.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.our-story > ul {
  margin-top: 3.5rem;
  display: flex;
  justify-content: space-between;
  padding: 0 35rem;
}
.our-story li {
  list-style: none;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}
.soicial-link {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  padding: 0 45rem;
}

.terms > ul {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  padding: 0 35rem;
}
.terms li {
  list-style: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.coyright p {
  margin-top: 2.5rem;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 3rem;
}

/* Responsive Styles for mobile */
@media screen and (max-width: 576px) {
  body{
    width: auto;
  }
  nav,
  nav > ul {
    flex-direction: column;
    padding-right: 0;
    margin-top: 20px;
  }
  .nav-logo {
    padding: 0;
  }
  .nav-title {
    margin: 0;
  }
  .nav-logo-img {
    padding: 0;
  }
  nav li,
  .nav-follow,
  .banner {
    margin-top: 20px;
  }
  .banner {
    padding: 0 10px;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .banner img {
    width: 100%;
    margin-bottom: 20px;
  }
  .banner-heading-1 {
    font-size: 32px;
  }
  .banner-heading-2 {
    font-size: 72px;
    margin-bottom: 15px;
  }
  .banner-content h5{
    padding: 10px 0;
  }
  .online-game h1{
    font-size: 30px;
    margin-bottom: 15px;
  }
  .online-game-container {
    flex-direction: column;
    padding: 0;
    padding: 15px 30px;
  }
  .online-game p {
    font-size: 14px;
    text-align: center;
  }
  .Play-Instantly-Container {
    flex-direction: column;
    padding: 20px;
  }
  .Play-Instantly-Container img {
    padding: 20px;
    width: 80%;
  }
  .Play-Instantly-Content h1{
    text-align: center;
  }
  .Play-Instantly-Content p{
    text-align: center;
  }
  .play-inst-img {
    position: absolute;
    top: 72%;
    right: 47%;
  }
  .games-type {
    /* padding: 0 24px; */
  }
  .games-type-container {
    flex-wrap: nowrap;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0px;
    justify-content: center;
    padding: 0;
    gap: 0;
  }
  .games-type-card {
    width: 0px;
    /* height: 10px; */
  }
  .games-type-card img {
    width: 40px;
  }
  .games-type-card p {
    font-size: 12px;
    font-weight: 400;
  }
  .games-type-card:hover{
    border: 2px solid #ff42a5;
    border-radius: 50px;
    padding: 10px 120px 10px 15px;
  }
  .our-story > ul,
  .terms > ul,
  .soicial-link {
    padding: 0 50px;
    justify-content: center;
    gap: 20px;
  }
  .our-story > ul,
  .terms > ul {
    flex-wrap: wrap;
  }
  .coyright p {
    padding: 2rem 5.5rem;
  }
}
