/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans";
  box-sizing: border-box;
}
main {
  max-width: 1920px;
  margin: 0 auto;
}
.text-primary {
  color: #ff42a5;
}
.section-title {
  color: #0b0223;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
}
.section-description {
  color: #534c64;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.gradient-text {
  background-image: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  color: transparent;
  -webkit-background-clip: text;
}
/* Header Related Styles */
/* Nav Related Styles */
nav {
  padding-top: 38px;
  padding-right: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 2rem;
  color: #3c354f;
}
nav a {
  text-decoration: none;
}
.nav-logo {
  padding-left: 100px;
  width: 86.041px;
  height: 40px;
}
.nav-title {
  font-size: 2.813rem;
  font-weight: 700;
  margin-left: -220px;
}
.nav-follow {
  display: flex;
  align-items: center;
  height: 56px;
  width: 262px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}
.nav-follow-text {
  padding: 17px 25px 17px 24px;
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
}
ul img {
  padding: 0 15px 0 0px;
}

/* Banner Section Design */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(../images/Group-14.png);
  background-size: 50%;
  background-repeat: no-repeat;
  padding: 0 70px 0 100px;
}
.banner img {
  width: 50%;
}
.banner-heading-1 {
  color: #0b0223;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.banner-heading-2 {
  text-align: center;
  font-size: 95px;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}
.banner-text {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  text-transform: lowercase;
}
.banner-btn-1 {
  padding: 21px 40px;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  color: #fff;
  border: none;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-btn-2 {
  padding: 21px 40px;
  border-radius: 48px;
  background: #4ec5f7;
  color: #fff;
  border: none;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

/* Main Section Start */
/* online game sectcion */
.online-game {
  margin-top: 176px;
}
.online-game-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  border-radius: 16px;
  padding: 0 120px;
  margin-top: 40px;
}
.online-game-card {
  width: 100%;
}
.online-game-img img {
  width: 100%;
  height: auto;
}
.online-game-container p {
  text-align: left;
  font-size: 1.2rem;
  line-height: auto;
}
/* Play Instantly Section */
.play-inst-section{

}

.Play-Instantly-Container {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px 0 80px ;
  position: relative;
  border: 2px solid salmon;
  position: relative;

}

.Play-Instantly-Container img {
  padding-left: 80px;
}
.play-inst-img {
  position: absolute;
  top: 55%;
  right: 40%;
}

/* Responsive Styles for mobile */
@media screen and (max-width: 425px) {
  nav,
  nav > ul {
    flex-direction: column;
    padding-right: 0;
  }
  .nav-logo {
    padding: 0;
  }
  .nav-title {
    margin: 0;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .banner img {
    width: 100%;
  }
  .online-game-container {
    flex-direction: column;
    padding: 0 130px;
    gap: 0;
  }
}
